#board_body {
  
  background-color:#4F5256;
  width:1300px;
}

#login_btn {
	color:white;
	margin-right:20px;
}


a {
  color: #00B7FF;
}

#write_form {
	display:none;
}

#board_menu,#first_column {
	background-color:#323740;
}
#board_header {
	color:white;
	margin-left:30px;
	margin-top:22px;
	margin-bottom:25px;

}



#first_column {
	width:1300px;
	margin-left:0.1px;
	color:white;
}

#left_top_first,#left_top_second,#left_top_third {
	background-color: #323740;
	height:120px;
	margin:10px;
	
}

#char_icon {
	margin-top:15px;
}

#text_char {


	color:white;
}

#table_one {
	margin-top:8px;
	padding-left:20px;
	padding-right:40px;
	padding-top:20px;
	background-color: #323740;
}


#table_two {
	margin-left:3px;


}

.t2_img {
	height:130px;
	display:inline-block;
	overflow:hidden;
}


#termi1,#termi2,#termi3 {
	
	overflow:hidden;
	height:100px;
	background-color: #323740;
	
}

#under_table {
	margin-top:0.3px;
}

#ex6 {
	height:10px;
	background-color: #323740;
}

#icon1 {
	margin-left:auto; margin-right:auto; display:inline-block; display:table;
}

.ui.image.header{
	margin-left:auto; margin-right:auto; display:inline-block; display:table;
}

#tr01 {
	margin-top:14px;
}

#tr02 {
	margin-top:14px;
	margin-left:17px;
}

#tr03 {
	margin-top:14px;
	margin-left:10px;
}

#tr04 {
	margin-left:10px;
}

